<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="div-menu">
        <p>CALCULO NUMERICO</p>
            <a href="{{ url_for('unit_1') }}"> METODO DE LAS POTENCIAS</a><br>
            <a href="{{ url_for('unit_1') }}"> METODO DE LAS POTENCIAS</a><br>
            <a href="{{ url_for('unit_1') }}"> INTERPOLACION</a><br>
    </div>
</body>
</html>